svg {
  font: bold 23px Century Gothic, Arial;
  width:100%;
  height:100%;
}

text {
  fill            : none;
  stroke          : black;
  stroke-width: 1px;
  stroke-linejoin : round;
}

#page {
  overflow: visible!important;
}

#outliner-container {
  z-index: 1000;
  width: 100%;
  height: 167px;
  position: relative;
  resize: both;
  overflow: hidden;
}

#outliner-text-input {
  width: 100%;
}

#outline-color {
  margin-right: 15px;
}
