/* ==================
  Teal Theme
================== */ 

.default-theme, .teal-theme {
  background-image: url(../res/img/theme/cyber2.jpg);
}

.default-theme .fa, .teal-theme .fa {
    box-shadow: 6px 6px 2px black;
    border: solid black 1px;
}

.default-theme #main-logo, .teal-theme #main-logo {
  background-color: white;
}

.default-theme #content, .teal-theme #content {
  background-color: rgba(3, 33, 33, 0.96);
}

.default-theme .desktop-menu, .teal-theme .desktop-menu {
  background-color: rgba(3, 33, 33, 0.9);
}

.default-theme .menu-open, .default-theme .menu-circle,
.teal-theme .menu-open, .teal-theme .menu-circle {
  background-color: rgba(3, 33, 33, 0.9);
}

.teal-theme .menu-open:active, .teal-theme .menu-circle:active,
.default-theme .menu-open:active, .default-theme .menu-circle:active {
  animation-name: flash-orange;
}

.default-theme  .side-button:active, .teal-theme .side-button:active {
  animation-name: flash-orange;
}

.teal-theme .menu-open:hover, .teal-theme .menu-circle:hover,
.default-theme .menu-open:hover, .default-theme .menu-circle:hover {
  animation-name: fill-orange;
}

.default-theme .side-button:hover, .teal-theme .side-button:hover {
  animation-name: fill-orange;
}

.default-theme .portfolio-item:active, .teal-theme .portfolio-item:active {
  animation-name: flash-orange;
}

.default-theme .portfolio-item:hover, .teal-theme .portfolio-item:hover {
  animation-name: fill-orange;
}

/* ==================
  Blue Theme
================== */ 

.blue-theme {
  background: linear-gradient(to bottom right, #686868, #999999);
}

.blue-theme .fa {
    box-shadow: 6px 6px 2px #080650;
    border: solid #080650 1px;
}

.blue-theme #content {
  background-color: rgba(0, 134, 219, 0.98);
}

.blue-theme .desktop-menu {
  background-color: rgba(0, 134, 219, 0.8);
}

.blue-theme .menu-open, .menu-circle {
  background-color: rgba(0, 134, 219, 0.9);
}

.blue-theme .menu-open:active, .menu-circle:active {
  animation-name: flash-blue;
}

.blue-theme .side-button:active {
  animation-name: flash-blue;
}

.blue-theme .menu-open:hover, .menu-circle:hover {
  animation-name: fill-blue;
}

.blue-theme .side-button:hover {
  animation-name: fill-blue;
}

.blue-theme .portfolio-item:active {
  animation-name: flash-blue;
}

.blue-theme .portfolio-item:hover {
  animation-name: fill-blue;
}


/* ==================
  Bomber Theme
  00033F = dark blue
  80823B =  rgb(128, 130, 59) = gold
================== */

.bomber-theme {
  background: url("../res/img/theme/bomber-lightning.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bomber-theme .fa {
    box-shadow: 6px 6px 2px #080650;
    border: solid #080650 1px;
}

.bomber-theme #content {
  background-color: rgba(238, 238, 221, 0.95);
  border: 1px solid #00033F;
  border-top: none;
  border-bottom: none;
}

.bomber-theme #page {
  color: #00033F;
}

.bomber-theme .desktop-menu {
  background-color: rgba(238, 238, 221, 0.95);
  border: 1px solid #00033F;
  border-top: none;
  border-bottom: none;
}

.bomber-theme .side-button {
  color: #00033F;
  font-weight: bold;
}

.bomber-theme .menu-open, .menu-circle {
  background-color: rgba(238, 238, 221, 0.95);
  border: 1px solid #00033F;
}

.bomber-theme .phone-menu div {
  border: 1px solid #00033F;
}

.bomber-theme .phone-menu .menu-open {
  background: url("../res/img/menu/menu_ico_bomber.png");
  background-size: cover;
}

.bomber-theme .phone-menu .about {
  background: url("../res/img/menu/about_ico_bomber.png");
  background-size: cover;
}

.bomber-theme .phone-menu .portfolio {
  background: url("../res/img/menu/logo_ico_bomber.png");
  background-size: cover;
}

.bomber-theme .phone-menu .settings {
  background: url("../res/img/menu/theme_ico_bomber.png");
  background-size: cover;
}

.bomber-theme .phone-menu .contact {
  background: url("../res/img/menu/contact_ico_bomber.png");
  background-size: cover;
}

.bomber-theme .portfolio-item {
  border: 1px solid #00033F;
  box-shadow: 2px 2px #00033F;
}

.bomber-theme .portfolio-item a {
  color: #00033F;
}

.bomber-theme .portfolio-item a:hover {
  animation-name: fill-gold;
}

.bomber-theme .menu-open:active, .menu-circle:active {
  animation-name: flash-gold;
}

.bomber-theme .side-button:active {
  animation-name: flash-gold;
}

.bomber-theme .menu-open:hover, .menu-circle:hover {
  animation-name: fill-gold;
}

.bomber-theme .side-button:hover {
  animation-name: fill-gold;
}

.bomber-theme .portfolio-item:active {
  animation-name: flash-gold;
}

.bomber-theme .portfolio-item:hover {
  animation-name: fill-gold;
}

@media screen and (max-width: 540px) {
  .default-theme, .teal-theme, .bomber-theme > .fa {
    box-shadow: 2px 2px 2px black;
  }

  .blue-theme > .fa {
    box-shadow: 2px 2px 2px #080650;
  }
}